body {
  margin: 0;
  min-width: 960px;
  color: #f2f2f2;
    font-family: var(--global-font-family);
    font-size: calc( var( --global-font-size ) / 16) rem;
    line-height: var(--global-font-line-height);
  background-color: #000000;
  background-image: url("img/588042.jpg");
  background-size: 1840px 800px;
  background-repeat: no-repeat;
  background-position: top center;
}

:root {
    --global-font-color: #363636;
    --global-font-family: "SST", sans-serif;
    --global-font-family-condensed: "SST", "Avenir Next Condensed", "DIN Condensed", "Roboto Condensed", "Open Sans Condensed", "Ubuntu Condensed", "Arial Narrow", "Impact", sans-serif;
    --global-font-size: 16;
    --global-font-line-height: 1.4;
    --content-width: 60;
    --small-font-size: 16;
    --regular-font-size: 20;
    --large-font-size: 36;
    --larger-font-size: 48;
    --container-large: 1460px;
    --container-medium: 1200px;
    --container-small: 990px;
    --black: #1f1f1f;
    --black-15: rgba(0,0,0,0.15);
    --black-60: rgba(0,0,0,0.6);
    --white: #fff;
    --white-75: rgba(255,255,255,0.75);
    --white-25: rgba(255,255,255,0.25);
    --dark-grey: #363636;
    --dark-grey-75: rgba(54,54,54,0.75);
    --medium-grey: #4d4d4d;
    --grey: #999;
    --light-grey: #d8d8d8;
    --light-grey-25: rgba(216,216,216,0.25);
    --very-light-grey: #eee;
    --text-light-grey: dimgray;
    --light-grey-forms: #dedede;
    --satin-blue: #0072c3;
    --satin-blue-75: rgba(0,114,195,0.75);
    --satin-blue-light: #00a0d2;
    --light-blue: #00a2ff;
    --lighter-blue: #0aa5ff;
    --pale-blue: #ecf7ff;
    --darker-pale-blue: #d3ecff;
    --dark-blue: #002f67;
    --pink: #e9546f;
    --offwhite: #f5f5f5;
    --orange: #ed561b;
    --purple: #d09bcf;
    --green: #80cea7;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.post-single__content>p:not([class*="has-margin-bottom"]) {
    margin-bottom: 40px;
    line-height: 1.8;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: inherit;
}

@media (prefers-color-scheme: dark)
html:not(.prefers-color-mode-light) {
    --global-font-color: #c9c9c9;
    --black: #e0e0e0;
    --black-15: rgba(255,255,255,0.15);
    --black-60: rgba(255,255,255,0.6);
    --white: #000;
    --white-75: rgba(0,0,0,0.75);
    --white-25: rgba(0,0,0,0.25);
    --dark-grey: #c9c9c9;
    --dark-grey-75: rgba(201,201,201,0.75);
    --medium-grey: #b2b2b2;
    --grey: #666;
    --light-grey: #272727;
    --light-grey-25: rgba(39,39,39,0.25);
    --very-light-grey: #111;
    --text-light-grey: #969696;
    --light-grey-forms: #212121;
    --satin-blue: #3caeff;
    --satin-blue-75: rgba(60,174,255,0.75);
    --satin-blue-light: #2dcdff;
    --light-blue: #00a2ff;
    --lighter-blue: #009bf5;
    --pale-blue: #000b13;
    --darker-pale-blue: #001a2d;
    --dark-blue: #98c7ff;
    --pink: #ab1631;
    --offwhite: #0a0a0a;
    --orange: #e44d12;
    --purple: #642f63;
    --green: #317f58;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 

@media (min-width: 960px)
.post-single__sub-header-text {
    font-size: 38px;
    font-size: 2.375rem;
    margin-top: 0;
    margin-bottom: 50px;
}

.post-single__sub-header-text {
    color: var(--satin-blue);
    font-size: 22px;
    font-size: 1.375rem;
    font-stretch: condensed;
    font-family: var(--global-font-family-condensed);
}

*, *::before, *::after {
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b, strong {
    font-weight: bolder;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style: disc;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}

.hero-image {
  margin-bottom: 480px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 24px;
  font-size: 80px;
  line-height: 96px;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #080208;
  border: 1px solid #712073;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #fea18d;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}



.page-footer {
  padding: 40px 0;
  background-color: #260c26;
}

.page-footer a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}